<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Manan Sharma. It uses Mapbox for geocoding and OpenWeather API for Weather Forecast.</p>
        <img class="portrait" src="/img/robot.png" >
    </div>

    {{>footer}}
</body>
</html>